.streamerCard {
  color: var(--black);
  min-width: 170px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  .details {
    background: var(--white);
    padding: 0 var(--padding) var(--padding);
    .logo {
      height: 32px;
      border-radius: 50%;
      margin-top: -16px;
      margin-bottom: calc(3 * var(--gap-step));
    }
    .name {
      font-size: 110%;
    }
    .status {
      font-weight: 300;
      border-bottom: solid 1px var(--gray);
      padding-bottom: calc(3 * var(--gap-step));
      margin-top: var(--gap-step);
      margin-left: auto;
      margin-right: auto;
      margin-bottom: calc(4 * var(--gap-step));
      &::before {
        content: '';
        position: absolute;
        left: calc(-7px - var(--gap-step));
        top: 5px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
      }
      &.offline::before {
        background: red;
        -webkit-animation: offline 2.4s infinite;
                animation: offline 2.4s infinite;
      }
      &.online::before {
        background: green;
        -webkit-animation: online 2.4s infinite;
                animation: online 2.4s infinite;
      }
    }
    .value {
      font-weight: 500;
      font-size: 110%;
    }
    .label {
      font-weight: 300;
      font-size: 80%;
    }
  }
}

@-webkit-keyframes offline {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 6px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}
@keyframes offline {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 6px rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 6px rgba(255, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
  }
}

@-webkit-keyframes online {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 128, 0, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 6px rgba(0, 128, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 128, 0, 0);
  }
}
@keyframes online {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 128, 0, 0.4);
            box-shadow: 0 0 0 0 rgba(0, 128, 0, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 6px rgba(0, 128, 0, 0);
            box-shadow: 0 0 0 6px rgba(0, 128, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 128, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 128, 0, 0);
  }
}