.cardWrapper {
  font-size: 18px;
  font-weight: 900;
  color: var(--white);
  min-width: 230px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  .thumb {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    transition: all 0.8s ease;
  }
  .glass {
    padding: 14px 12px;
    background: var(--glass);
    backdrop-filter: blur(10px);
    position: absolute;
    width: calc(100% - 40px);
    border-radius: 10px;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    .title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &:hover .thumb {
    transform: scale(1.04);
  }
}
