.navbar {
  background: var(--white);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0 -4px 12px #0001;
  box-shadow: 0 -4px 12px #0001;
  .btn {
    text-decoration: none;
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
    padding: var(--padding);
    padding-bottom: calc(var(--padding) + 8px);
    .add {
      background: -webkit-gradient(
        linear,
        left top,
        right top,
        from(var(--gradient-left)),
        color-stop(var(--gradient-center)),
        to(var(--gradient-right))
      );
      background: -o-linear-gradient(
        left,
        var(--gradient-left),
        var(--gradient-center),
        var(--gradient-right)
      );
      background: linear-gradient(
        to right,
        var(--gradient-left),
        var(--gradient-center),
        var(--gradient-right)
      );
      width: 34px;
      height: 34px;
      margin-top: -6px;
      border-radius: 50%;
      color: var(--white);
      font-weight: 300;
      font-size: 150%;
    }
    &:active {
      background: var(--gray);
    }
  }
}

@media (min-width: 480px) {
  .navbar {
    position: sticky;
    border-radius: 0 0 36px 36px;
  }
}
